/* SCREEN CALENDÁRIO */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    align-items: center;
}

#calendar {
    max-width: 100%;
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 15vh;
}

.fc-scrollgrid-sync-table,
.fc-col-header {
    width: 100%;
}

.fc-event {
    border: 1px solid #eee !important;
}

.fc-content {
    padding: 3px !important;
}

.fc-content .fc-title {
    display: block !important;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.fc .fc-toolbar-title {
    font-size: 2.5rem;
    font-weight: 600;
    color: #166011;
}


.fc-today-button.fc-button.fc-button-primary {
    background-color: #166011;
}


/* Botões padrão */
.fc .fc-button-primary {
    background-color: #166011;
    border-color: #166011;
    color: white;
    border: none;
    height: 40px;
}

/* Botões ao passar o mouse */
.fc .fc-button-primary:hover {
    background-color: #166011a5;
    border-color: #166011a5;
    color: white;
}

/* Botão ativo */
.fc .fc-button-primary:active,
.fc .fc-button-primary.fc-button-active {
    background-color: #166011a5;
    border-color: #166011a5;
    color: white;
}

.fc .fc-button {
    box-shadow: none;
}


.fc-col-header-cell-cushion {
    color: #166011 !important;
    text-decoration: none;
}

.fc-daygrid-day-number {
    color: #166011 !important;
    text-decoration: none;
}

.fc-sticky,
.fc-h-event,
.fc-event-title-container {
    background-color: #166011d0;
}

.fc-customButton-button {
    font-size: 13px !important;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateY(-50%);
}

.form-group {
    margin-bottom: 1rem;
}

.form-group>label {
    margin-bottom: 10px;
}

#delete-modal .modal-footer>.btn {

    border-radius: 3px !important;
    padding: 0px 8px !important;
    font-size: 15px;

}

.fc-scroller {
    overflow-y: hidden !important;
}

.context-menu {
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    padding: 5px;
}

.context-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.context-menu ul>li {
    display: block;
    ;
    padding: 5px 15px;
    list-style-type: none;
    color: #333;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    transition: 0.10s;
    font-size: 13px;


}

.context-menu ul>li:hover {
    color: #fff;
    background-color: #007bff;
    border-radius: 2px;

}

.fa,
.fas {
    font-size: 13px;
    margin-right: 4px;
}

@media (max-width: 580px) {
    #calendar {
        margin-top: 5vh;
    }
}

@media (max-width: 420px) {
    #calendar {
        margin-top: 5vh;
    }
}

@media (max-width: 768px) {

    /*.fc-toolbar.fc-header-toolbar {
        flex-direction: column;
        align-items: stretch;
    }
*/
    .fc-header-toolbar.fc-toolbar {
        margin-top: 1.5rem;
    }

    .fc-toolbar .fc-left,
    .fc-toolbar .fc-center,
    .fc-toolbar .fc-right {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }

    .fc-toolbar .fc-left,
    .fc-toolbar .fc-right {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4px;
    }

    .fc-toolbar .fc-center {
        text-align: center;
        font-size: 16px;
    }

    .fc .fc-button {
        font-size: 12px;
        padding: 4px 6px;
        height: auto;
    }

    .fc .fc-toolbar-title {
        font-size: 1.7rem;
        font-weight: 600;
    }

    .fc .fc-button-group {
        flex-wrap: wrap;
        gap: 2px;
    }

}

@media (max-width: 465px) {

    .fc .fc-button-primary {
        height: 30px;
        align-items: center;
        justify-content: center;
    }

    .fc .fc-toolbar-title {
        font-size: 1.5rem;
        font-weight: 600;
    }

}

@media (max-width: 360px) {
    .fc .fc-button {
        font-size: 12px;
        padding: 4px 6px;
        height: auto;
    }

    .fc .fc-toolbar-title {
        font-size: 1.3rem;
        font-weight: 600;
        margin-right: 0.5rem;
    }

    .fc .fc-button-group {
        flex-wrap: wrap;
        gap: 2px;
    }

    .fc-direction-ltr .fc-toolbar>*> :not(:first-child) {
        margin-left: 0.1rem;
    }
}