        body {
            background-color: #FFF;
        }

        .hero-section {
            background: linear-gradient(135deg, #156116 0%, #11C00B 100%);
            height: 20vh;
        }

        .album.py-5.bg-body-tertiary {
            background-color: #FFF !important;
        }

        /* Menu */
        .navbar {
            background-color: #FFFFFF;
            height: 80px;
            margin: 20px;
            border-radius: 16px;
            padding-left: 5px;
        }

        .navbar-brand {
            color: #156116;
            font-weight: bolder;
        }

        .navbar-brand:hover {
            color: #11C00B;
            transform: scale(1.05);
        }

        .btn.btn-login {
            border-radius: 50px;
            background-color: #156116;
            color: #FFFFFF;
            text-decoration: none;
        }

        .btn-login {
            color: #FFFFFF;
            text-decoration: none;
        }

        .btn-login:hover {
            color: #FFFFFF;
            text-decoration: none;
        }

        .btn.btn-login:hover {
            background-color: #11C00B;
            color: #fff;
        }

        .navbar-toggler {
            border: none;
            font-size: 1.25rem;
        }

        .navbar-toggler:focus .brn-close:focus {
            box-shadow: none;
            outline: none;
        }

        .nav-link {
            color: #666777;
            font-weight: 500;
            position: relative;
        }

        .nav-link:hover,
        .nav-link.active {
            color: #000000;
        }

        @media (min-width: 991px) {
            .nav-link::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 2px;
                background-color: #156116;
                visibility: hidden;
                transition: 0.3s ease-in-out;
            }

            .nav-link:hover::before,
            .nav-link.active::before {
                width: 100%;
                visibility: visible;
            }
        }


        a {
            text-decoration: none;
        }

        .btn-outline-secondary a {
            color: #666777;
        }

        .btn-outline-secondary:hover {
            background-color: #11C00B;
        }

        .btn-outline-secondary:hover a {
            text-decoration: none;
            color: #fff;
        }