{% extends 'base/base.html' %}
{% load static %}
{% block title %}Eventos - Bike Lama{% endblock %}
{% block links_add %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'CSS/divulgacao.css' %}">
{% endblock %}

{% block conteudo %}
<section class="hero-section">
    <div class="container">
    </div>
</section>
<section>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {% for evento in eventos %}
                <div class="col d-flex">
                    <div class="card shadow-sm h-100">

                        {% if evento.imagem %}
                        <img src="{{ evento.imagem.url }}" alt="Imagem do evento" class="card-img-top" style="height: 225px; object-fit: cover; width: 100%;">
                        {% else %}
                        <img src="/static/img/placeholder.png" alt="Sem imagem" class="card-img-top" style="height: 225px; object-fit: cover; width: 100%;">
                        {% endif %}

                        <div class="card-body">
                            <h4 class="card-text">{{ evento.data_evento|date:"d/m/Y" }}</h4>

                            <p class="card-text">
                                {{ evento.nome_evento }}
                            </p>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'formInscricoes' %}">
                                        Participar
                                    </a>

                                    <a class="btn btn-sm btn-outline-secondary"
                                        href="{% url 'evento_detail' evento.pk %}">
                                        Ver
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p class="text-center">Nenhum evento cadastrado.</p>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
{% endblock %}