{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Inscrição em Evento - Bike Lama</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.css">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'CSS/estilizacao.css' %}">
</head>
<body>
    <div class="wrapper">
        <form action="">
            <div id="wizard">
                <!-- SECTION 1 -->
                <h4></h4>
                <section>
                    <div class="form-row"> <input type="text" class="form-control" placeholder="Nome"> </div>
                    <div class="form-row"> <input type="date" class="form-control" placeholder="Data de nascimento">
                    </div>
                    <div class="form-row"> <input type="text" class="form-control" placeholder="CPF"> </div>
                    <div class="form-row"> <input type="text" class="form-control" placeholder="Equipe"> </div>
                    <div class="form-row">
                        <select class="form-control" aria-label="Default select example">
                            <option disabled selected>Evento</option>
                            <option value="EcoPedal">Eco Pedal de Canguaretama</option>
                            <option value="MartBike">Mart Bike</option>
                            <option value="ConceicaoBike">Conceição Bike</option>
                        </select>
                    </div>
                </section>
                <!-- SECTION 2 -->
                <h4></h4>
                <section>
                    <div class="form-row"> <input type="text" class="form-control" placeholder="Cidade"> </div>
                    <div class="form-row "> <input type="text" class="form-control" placeholder="Estado"> </div>
                    <div class="form-row"> <input type="text" class="form-control" placeholder="Número de telefone">
                    </div>
                    <div class="form-row"> <input type="text" class="form-control" placeholder="Email"> </div>
                </section>
                <!-- SECTION 3 -->
                <h4></h4>
                <section>
                    <div class="form-row">
                        <select class="form-control" aria-label="Default select example">
                            <option disabled selected>Forma de Pagamento</option>
                            <option value="EcoPedal">PIX</option>
                            <option value="MartBike">Cartão de Crédito</option>
                            <option value="ConceicaoBike">Cartão de Débito</option>
                            <option value="ConceicaoBike">Boleto</option>
                        </select>
                    </div>
                    <div class="form-row"> <input type="text" class="form-control" placeholder="Nome do Cartão"> </div>
                    <div class="form-row "> <input type="text" class="form-control" placeholder="Número do Cartão">
                    </div>
                    <div class="form-row"> <input type="text" class="form-control" placeholder="Expiração"> </div>
                    <div class="form-row"> <input type="text" class="form-control" placeholder="CVC"> </div>
                </section>
                <!-- SECTION 4 -->
                <h4></h4>
                <section>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                        <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10"
                            cx="65.1" cy="65.1" r="62.1" />
                        <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6"
                            stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
                    </svg>
                    <p class="success">Inscrição realizada com sucesso! <br> Em breve, você receberá um e-mail com o
                        comprovante e mais detalhes sobre a sua inscrição.</p>
                </section>
            </div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>
    <script src="{% static 'JS/formInscricao.js' %}"></script>
</body>
</html>