{% extends 'base/base.html' %}
{% load static %}
{% block links_add %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'CSS/paginaInicial.css' %}">
{% endblock %}

{% block conteudo %}
<main>
    <!-- SEÇÃO 1-->
    <section class="hero-section text-white d-flex align-items-center">
        <div class="container">
            <div class="row flex-lg-row-reverse align-items-center">
                <div class="col-12 col-lg-4 text-center">
                    <img src="{% static 'img/logoBikeLama.png' %}" class="img-fluid responsive-logo mx-auto"
                        alt="Logo Bike Lama" loading="lazy">
                </div>

                <div class="col-12 col-lg-8 text-center text-lg-start mt-4 mt-lg-0">
                    <h1 class="display-4 fw-bold mb-4">Plataforma Digital <br> BIKE LAMA</h1>
                    <p class="lead mb-4">
                        Acompanhe os eventos, participe dos treinos e viva o ciclismo com os Loucos por Aventura
                    </p>
                    {% if user.is_authenticated %}

                    {% else %}
                    <button class="btn btn-light btn-lg px-4 me-2"><a href="{% url 'formCadastro' %}"
                            class="btnCadastro">Tornar-se membro</a></button>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <!-- SEÇÃO 2 -->

    <section class="section-portifolio mx-auto">
        <div class="container marketing">
            <div class="row">
                <div class="col-lg-4">
                    <img class="rounded-circle" src="{% static 'img/eventos.png' %}" alt="Generic placeholder image"
                        width="140" height="140">
                    <h2>Eventos</h2>
                    <p>A plataforma divulga eventos da equipe e de parceiros, como a Paróquia de Canguaretama. Além
                        disso, oferece um formulário de inscrição integrado para facilitar a participação..</p>
                    {% if user.is_authenticated %}
                    <p><a class="btn btn-secondary" href="{% url 'eventos' %}" role="button">Confira</a></p>
                    {% else %}
                    <p><a class="btn btn-secondary" href="{% url 'formLogin' %}" role="button">Confira</a></p>
                    {% endif %}
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="{% static 'img/calendario.png' %}" alt="Generic placeholder image"
                        width="140" height="140">
                    <h2>Calendário</h2>
                    <p>Exibe o calendário anual da equipe com eventos, trilhas e viagens. Auxilia os usuários no
                        planejamento pessoal para participarem das principais atividades do ano.</p>
                    {% if user.is_authenticated %}
                    <p><a class="btn btn-secondary" href="{% url 'calendario' %}" role="button">Confira</a></p>
                    {% else %}
                    <p><a class="btn btn-secondary" href="{% url 'formLogin' %}" role="button">Confira</a></p>
                    {% endif %}
                </div>

                <div class="col-lg-4">
                    <img class="rounded-circle" src="{% static 'img/trilhas.png' %}" alt="Generic placeholder image"
                        width="140" height="140">
                    <h2>Passeios ciclísticos</h2>
                    <p>Divulga passeios, trilhas e treinos mensais. Os usuários podem confirmar ou cancelar presença,
                        facilitando o controle de participantes e o planejamento das atividades.</p>
                    {% if user.is_authenticated %}
                    <p><a class="btn btn-secondary" href="{% url 'passeios' %}" role="button">Confira</a></p>
                    {% else %}
                    <p><a class="btn btn-secondary" href="{% url 'formLogin' %}" role="button">Confira</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <!-- SEÇÃO 3 -->
    <section class="container-fluid">
        <div class="ecopedal p-5 mb-4 rounded-3">
            <div class="ecopedal container-fluid py-5">
                <div class="row align-items-center">
                    <div class="col-md-8" style="color: #FFF;">
                        <h1 class="display-5 fw-bold" style="color: #FFF;">ECO PEDAL DE CANGUARETAMA</h1>
                        <p class="fs-4" style="color: #FFF;">
                            Criado em 2018, o Eco Pedal de Canguaretama reúne anualmente centenas de ciclistas e oferece
                            a chance de explorar praias paradisíacas, trilhas e rios, além de vivenciar a rica cultura
                            local.
                        </p>
                        <button class="btn btn-primary btn-lg" type="button"
                            style="background-color:#11C00B; border: none;"><a class="btnEco"
                                href="{% url 'formInscricoes' %}">Inscrever-se</a></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-md-stretch">
            <div class=" col-md-6">
                <div class="conceicaoBike h-100 p-5 text-white rounded-3">
                    <h2>CONCEIÇÃO BIKE</h2>
                    <p>O Conceição Bike é um evento da Paróquia de Canguaretama, em conjunto com a Equipe Bike Lama, em
                        homenagem a Nossa Senhora Imaculada Conceição, padroeira da cidade.</p>
                    <button class="btn btn-outline-light" type="button"><a class="btnBike"
                            href="{% url 'formInscricoes' %}">Inscrever-se</a></button>
                </div>
            </div>

            <div class="martBike col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>MART BIKE</h2>
                    <p>O Mart Bike é um evento da Paróquia de Canguaretama, em conjunto com a Equipe Bike Lama, em
                        homenagem aos Santos Mártires de Cunhaú.</p>
                    <button class="btn btn-outline-secondary" type="button"><a class="btnMart"
                            href="{% url 'formInscricoes' %}">Inscrever-se</a></button>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}